.ui.items > .item{
    align-items: center;
}

article.home, article.category{
    position: relative;
    background-color: #2f2a27;

    .ui.centered.grid{
        @include centeredAbs;
        color: #fff;
    }
}

h2.ui.header{
    margin: 0;
    color: #fff;
}

.ui.button{
    margin: 1em 0;
}